<mat-toolbar class="page-info">
  <mat-toolbar-row class="breadcrumbs">
    <breadcrumbs *ngIf="breadcrumbs" [path]="breadcrumbs"></breadcrumbs>
  </mat-toolbar-row>
  <mat-toolbar-row class="title">
    <mat-icon class="icon">rate_review</mat-icon>
    <h1>Reviews Admin</h1>
  </mat-toolbar-row>
</mat-toolbar>


<div class="admin-cards" *ngIf="!loading">
  <div class="admin-card" *ngFor="let review of reviewList">
    <review-card
    [review]="review"
    ></review-card>

    <div class="admin-controls">
      <button 
        mat-icon-button 
        color="warn"
        (click)="openDeleteReviewDialog(review)"
        ><mat-icon>delete</mat-icon><div><strong>DELETE</strong></div>
      </button>
    </div>
  </div>

  <no-content *ngIf="reviewList.length == 0"></no-content>

</div>
