@import 'src/colors.scss';

.title {
  background-color: $review-color;
  display: flex;
  align-items: center;
  h1 {
    font-weight: bold;
  }
}

.admin-cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-content: flex-start;
}
  
.admin-card{
  background: $admin-color;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
}
  
.admin-controls{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-content: flex-start;
  margin-top: 1.5rem;
  button {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    div {
      margin-top: -1rem;
    }
  }
  button:last-of-type{
    margin-right: 1.5rem;
  }
}
mat-icon.icon {
  font-size: 2rem;
}

.icon {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  text-align: center;
}