<div class="space-between">
  <span class="message">
    {{ this.data.message }}
  </span>
  <button *ngIf="data.action" mat-raised-button color="accent" class="action" (click)="action()">
    {{ this.data.action?.text }}
  </button>
  <button mat-button class="close" (click)="dismiss()">
    {{ this.data.close }}
  </button>
</div>
