<mat-toolbar class="page-info">
  <mat-toolbar-row>
    Housing Available
  </mat-toolbar-row>
</mat-toolbar>



<loading-block *ngIf="loading"></loading-block>
<div class="cards" *ngIf="!loading">
  <no-content *ngIf="housingAvailables.length == 0"></no-content>
  <mat-card class="housing-available-block" *ngFor="let housingAvailable of housingAvailables">
    <mat-card-title class="title">
      {{housingAvailable.title}}
    </mat-card-title>
    <mat-card-content class="clearfix">
      <p>{{housingAvailable.body}}</p>
      <p>Contact: {{housingAvailable.contact}}</p>
      <p>Website: {{housingAvailable.website}}</p>
      <p>Address: {{housingAvailable.address}}</p>
      <p>Listing Status:  {{housingAvailable.status}}</p>
      <p>Bedrooms: {{housingAvailable.bedrooms}}</p>
      <p>Bathrooms: {{housingAvailable.bathrooms}}</p>
      <!-- <p class="details">Additional Details: {{housingAvailable.details}}</p> -->
    </mat-card-content>
  </mat-card>
</div>
