<mat-toolbar class="page-info">
  <mat-toolbar-row>
    Get Housing Availables
  </mat-toolbar-row>
</mat-toolbar>

<loading-block *ngIf="loading"></loading-block>

<div class="cards" *ngIf="!loading">
  <!-- <property-card *ngFor="let property of properties | slice:(page.offset * page.size):((page.offset+1)*page.size)"
    [property]="property"
    [landlord]="landlords[property.LandlordId]"
    [location]="locations[property.LocationId]"
  ></property-card> -->
  <div *ngFor="let housingAvailable of housingAvailables">
    <h2>{{housingAvailable.title}}</h2>
      <p>{{housingAvailable.body}}</p>
  </div>

  <no-content *ngIf="properties.length == 0"></no-content>

  <!-- <mat-paginator [length]="properties.length"
    [pageSize]="page.size"
    [pageIndex]="page.offset"
    [pageSizeOptions]="[10,25,50,100]"
    (page)="pageUpdated($event)">
  </mat-paginator> -->
  </div>
