h1.example-app-name {
  margin-left: .5rem;
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
  button {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  a {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .mini-pager-area {
    order: 3;
    margin-bottom: 1rem;
  }
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-content: flex-start;
  property-card {
    width: 31rem;
  }
}

.housing-available-block {
  width: 31rem;
  border: 3px solid black;
  background-color: rgb(238, 68, 201);
  padding: 10px;
  text-align: left;
  margin: 10px;
}

.details {
  float: right;
  background-color: rgb(61, 128, 167);
}

// .title {
//   color: rgb(78, 46, 223);
// }

// .body {
//   background-color: beige;
// }

.filters {
  button {
    margin-right: 1rem;
  }
}

.filters-container .filters-panel {
  display: none;
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.filters-container.filters-open .filters-panel {
  display: block;
}

@media (min-width: 48rem) {

  .filters-container .filters-panel {
    float: left;
    width: 15rem;
    border-right: 1px solid grey;
    padding-right: 1rem;
    margin-right: 1rem;
    border-bottom: none;
  }

  .filters-container.filters-open .filters-main {
    float: right;
    width: 100%;
    width: calc(100% - 16rem);
  }

  .filters-container .cards {
    clear: right;
  }
}
