<ion-header>
  <ion-toolbar>
    <a slot="start" class="nav-icon" routerLink="/landlord/{{landlord.id}}" title="{{landlord?.name}}">
      <ion-icon name="arrow-back"></ion-icon>
    </a>
    <ion-title>Add Landlord Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Write a review for: {{landlord?.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form id="form" (submit)="submit()" [formGroup]="form" [ngClass]="{'submit-attempt': submitAttempt}">
        <ion-item>
          <ion-label position="stacked">Subject</ion-label>
          <ion-input formControlName="subject" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Rating</ion-label>
          <ion-select formControlName="rating" placeholder="Select your rating">
            <ion-select-option value=1>Awful</ion-select-option>
            <ion-select-option value=2>Mediocre</ion-select-option>
            <ion-select-option value=3>Average</ion-select-option>
            <ion-select-option value=4>Great</ion-select-option>
            <ion-select-option value=5>Excellent</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Please enter your review here.</ion-label>
          <ion-textarea formControlName="body"></ion-textarea>
        </ion-item>

        <ion-button type="submit">Save</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
