@import 'src/colors.scss';
.title {
  background-color: $profile-color;
  display: flex;
  align-items: center;
  h1 {
    font-weight: bold;
  }
}
.icon{
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  text-align: center;
}
mat-icon.icon {
  font-size: 2rem;
}

.page-contents {
  display: flex;
  flex-flow: column;
  margin-right: -1rem;
  margin-left: -1rem;
}
.page-header {
  padding-left: 1rem;
}

.section {
  margin-bottom: 1rem;
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
  padding: 0 1rem;
  landlord-card,
  property-card,
  review-card{
    margin-top: 1rem;
  }
}

.sub-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-top: solid $border-color .2rem;
  margin-top: 2rem;
  h2 {
    margin: 0;
  }
}

.landlords-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  .sub-header {
    background-color: $landlord-color;
    margin-top: 0;
  }

  .details{
    padding: 1rem;
  }
}
.properties-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  .sub-header {
    background-color: $property-color;
    margin-top: 0;
  }

  .details{
    padding: 1rem;
  }
}
.reviews-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  .sub-header {
    background-color: $review-color;
    margin-top: 0;
  }

  .details{
    padding: 1rem;
  }
}

.action-button {
  margin-top: 1rem;
  margin-left: 1rem;
  align-self: flex-start;
}

.icon {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  text-align: center;
}