<mat-toolbar class="page-info">
  <mat-toolbar-row class="title">
    <mat-icon class="icon">dashboard</mat-icon>
    <h1>Dashboard</h1>
  </mat-toolbar-row>
</mat-toolbar>

<div class="page-contents">
  <h2 class="page-header">
    This is your dashboard, where you can add content and view the content you have.
  </h2>
  
  <section class="landlords-container section">
    <div class="sub-header">
      <mat-icon class="icon" svgIcon="landlord_icon"></mat-icon>
      <h2>Landlords</h2>
    </div>
    <a routerLink="/landlords/add" class="action-button">
      <button mat-raised-button color="primary">Add Landlord</button>
    </a>
    <p *ngIf="landlords.length === 0" class="details">
      You don't have any landlords right now, you can click above to add one.
    </p>
    
    <div class="cards">
      <landlord-card *ngFor="let landlord of landlords" [landlord]="landlord"></landlord-card>
    </div>
  </section>
  
  <section class="properties-container section">
    <div class="sub-header">
      <mat-icon class="icon" svgIcon="property_icon"></mat-icon>
      <h2>
        Properties
      </h2>
    </div>
    <a routerLink="/properties/add" class="action-button">
      <button mat-raised-button color="primary">Add Property</button>
    </a>
    
    <p *ngIf="properties.length === 0" class="details">
      You don't have any properties right now, you can click above to add one.
    </p>
    
    <div class="cards">
      <property-card *ngFor="let property of properties"
        [property]="property"
        [landlord]="landlordsMap[property.LandlordId]"
        [location]="locations[property.LocationId]"
      ></property-card>
    </div>
  </section>
  
  <section class="reviews-container section">
    <div class="sub-header">
      <mat-icon class="icon">rate_review</mat-icon>
      <h2>
        Reviews
      </h2>  
    </div>
    <a routerLink="/reviews/add" class="action-button">
      <button mat-raised-button color="primary">Add Review</button>
    </a>

    <p *ngIf="reviews.length === 0" class="details">
      You don't have any reviews right now, you can click above to add one.
    </p>
    
    <div class="cards">
      <review-card *ngFor="let review of reviews" [review]="review"></review-card>
    </div>

  </section>
</div>
