<nav aria-label="breadcrumbs">
  <ol class="breadcrumbs-list">
    <li>
      <a routerLink="/" >Home</a>
      <mat-icon class="icon" aria-hidden="true">chevron_right</mat-icon>
    </li>
    <li *ngFor="let page of path" class="breadcrumb">
      <a routerLink="{{page[0]}}">{{page[1]}}</a>
      <mat-icon class="icon" aria-hidden="true">chevron_right</mat-icon>
    </li>
    <li aria-current="location" class="breadcrumb">{{current}}</li>
  </ol>
</nav>