<h2>Confirm Delete</h2>
<p>
  <strong>Warning:</strong> You are about to permanently delete a {{ deleteTargetText }}. Are you sure you want to proceed?
</p>

<div class="confirm-btn-container">
  <button
    mat-raised-button
    color="accent"
    class="confirm-btn"
    mat-dialog-close="false"
  >
    Cancel
  </button>
  <button
    mat-raised-button
    color="primary"
    class="confirm-btn"
    mat-dialog-close="true"
  >
    Delete
  </button>
</div>
