<mat-toolbar class="page-info">
  <mat-toolbar-row class="breadcrumbs">
    <breadcrumbs *ngIf="breadcrumbs" [path]="breadcrumbs"></breadcrumbs>
  </mat-toolbar-row>
  <mat-toolbar-row class="title">
    <mat-icon class="icon" svgIcon="landlord_icon"></mat-icon>
    <h1> Landlords Admin</h1>
  </mat-toolbar-row>
</mat-toolbar>

<div class="filters-container" [ngClass]="{'filters-open': filtersOpen}">

  <div class="actions filters-main">
    <button mat-stroked-button (click)="toggleFilters()">
      <mat-icon title="Filters">filter_list</mat-icon> <span class="icon-label">Filters</span>
    </button>
    <a routerLink="/landlords/add" mat-raised-button color="primary">
      Add Landlord
    </a>
    <div class="mini-pager-area">
      <mat-paginator class="condensed" [length]="landlords.length"
        [pageSize]="page.size"
        [pageIndex]="page.offset"
        [pageSizeOptions]="[10,25,50,100]"
        (page)="pageUpdated($event)">
      </mat-paginator>
    </div>
  </div>
  <div class="filters-panel">
    <h3>Filters</h3>
    <div class="filters">
      <form (submit)="submit()" [formGroup]="form" #ngFormDirective="ngForm" [ngClass]="{'submit-attempt': submitAttempt}">
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Search</mat-label>
          <input matInput formControlName="search" #searchInput>
          <mat-hint>Searches Name, Phone, and Email fields. If "Search" is used, don't use other fields</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone">
        </mat-form-field>
        <mat-form-field appearance="standard" floatLabel="always">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>

        <div class="form-actions">
          <button mat-raised-button type="button" (click)="resetForm()">Clear</button>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="filters-main" #cards>
    <loading-block *ngIf="loading"></loading-block>
    <div class="admin-cards" *ngIf="!loading">
      <div class="admin-card" *ngFor="let landlord of landlords | slice:(page.offset * page.size):((page.offset+1)*page.size)"
      >
        <div class="owner-container" *ngIf="landlord.AuthorId">
          <mat-icon >account_circle</mat-icon>
          <p>Owned</p>
        </div>
        <div class="owner-container" *ngIf="!landlord.AuthorId">
          <mat-icon class="unowned">account_circle</mat-icon>
          <p>Ownership not claimed.</p>
        </div>
        <landlord-card [landlord]="landlord" [context]="{search:{term: searchTerm}}"></landlord-card>
        <div class="admin-controls">
          <button 
            mat-icon-button 
            color=""
            routerLink="/landlord/{{ landlord.id }}/edit"
            aria-label="Edit Landlord"
            ><mat-icon>edit</mat-icon><div><strong>EDIT</strong></div>
          </button>

          <button 
            mat-icon-button 
            color="primary"
            (click)="openMergeLandlordsDialog(landlord)"
            ><mat-icon>call_merge</mat-icon><div><strong>MERGE</strong></div>
          </button>

          <button 
            mat-icon-button 
            color=""
            (click)="openSetOwnerDialog(landlord)"
            ><mat-icon>account_circle</mat-icon><div><strong>SET OWNER</strong></div>
          </button>

          <button 
            mat-icon-button 
            color="warn"
            (click)="openDeleteLandlordDialog(landlord)"
            ><mat-icon>delete</mat-icon><div><strong>DELETE</strong></div>
          </button>
        </div>
      </div>

      <no-content *ngIf="landlords.length ==0"></no-content>
    </div>

    <mat-paginator [length]="landlords.length"
      [pageSize]="page.size"
      [pageIndex]="page.offset"
      [pageSizeOptions]="[10,25,50,100]"
      (page)="pageUpdated($event)">
    </mat-paginator>
  </div>
</div>
