@import 'src/colors.scss';

.title {
  background-color: $landlord-color;
  display: flex;
  align-items: center;
  h1 {
    font-weight: bold;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
  button {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  a {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .mini-pager-area {
    order: 3;
    margin-bottom: 1rem;
  }
}

.admin-cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-content: flex-start;
}

.admin-card{
  background: $admin-color;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
}

.admin-controls{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 100%;
  margin-top: 1.5rem;
  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    div {
      margin-top: -1rem;
    }
  }
  button:last-of-type{
    margin-right: 1.5rem;
  }
}

.filters {
  button {
    margin-right: 1rem;
  }
}

.filters-container .filters-panel {
  display: none;
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.filters-container.filters-open .filters-panel {
  display: block;
}

.icon {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  text-align: center;
}

.owner-container {
  display: flex;
  align-items: center;
  margin-top: -.5rem;
  padding-bottom: .2rem ;
  p {
    margin: 0;
    padding-left: .5rem;
  }

  .unowned {
    color: red;
  }
}

@media (min-width: 48rem) {

  .filters-container .filters-panel {
    float: left;
    width: 15rem;
    border-right: 1px solid grey;
    padding-right: 1rem;
    margin-right: 1rem;
    border-bottom: none;
  }

  .filters-container.filters-open .filters-main {
    float: right;
    width: 100%;
    width: calc(100% - 16rem);
  }

  .filters-container .cards {
    clear: right;
  }
}
