<button 
  mat-raised-button 
  *ngIf="authService.isAuthenticated" 
  color="{{buttonColor}}" 
  (click)="doLogout()"
  >Log out
</button>
<button 
  mat-raised-button 
  *ngIf="!authService.isAuthenticated" 
  color="{{buttonColor}}"
  (click)="doLoginOrSignUp()"
  >{{likelyHasAccount ? 'Log in' : ' Sign up'}}
</button>