@import '~@angular/material/theming';
@import 'src/colors.scss';

.card-wrapper {
  text-decoration: none;
  color: inherit;
}

mat-card{
  width: 18rem;
  padding: 0;
  margin: 0;
  background-color: $review-color;
  
  cursor: pointer;
  &:hover {
    @include mat-elevation(8);
  }

}

.title {
  padding: 1rem;
  margin: 0;
}

.name {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  width: 16.5rem; // must be set for ellipsis
}

.content-container {
  border-top: 1px solid $border-color;
  margin-top: -1px;
  background-color: white;
  padding: 1rem;
  margin: 0;
}

stars-display {
  display: inline-block;
  height: 1.5rem;
  vertical-align: middle;
}

.review-content {
  margin-top: 1rem;
}

.subtitle {
  padding: .5rem 1rem;
  background-color: $card-gray;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid $border-color;
  margin-top: -1px;
}


// Media Queries
@media screen and (min-width: 38.5rem) {
  mat-card {
    width: 30rem;
  }
  .name {
    font-size: 1.25rem;
  }
}
