<a #reviewElem [id]="review.id" [class.target]="isTarget" target="_self" routerLink="{{routeToReview}}" fragment="{{review.id}}" class="card-wrapper">
<mat-card>
  <mat-card-title class="title" attr.aria-label="{{ review?.subject }}.">
    <h2 class="name">{{ review?.subject }}</h2>
  </mat-card-title>
  
  <mat-card-content class="content-container">
    <stars-display [rating]="review.rating"></stars-display>
    <p [innerHTML]="content.body(review.body)" class="review-content"></p>
  </mat-card-content>

  <mat-card-subtitle class="subtitle">
    Created {{ review?.createdAt | date : 'medium' }}
  </mat-card-subtitle>
</mat-card>
</a>