export const environment = {
  production: true,
  mapbox: {
    accessToken: 'MAPBOX_ACCESS_TOKEN'
  },
  apiURL: 'https://gaze-housingdb.herokuapp.com',
  keycloak: {
    url: 'https://accounts.gaze.dev/auth',
    realm: 'gaze-accounts',
    clientId: 'housingdb',
  },
};
