.stars-wrapper {
  display: flex;
}
.star-container {
  position: relative;
  display: flex;
  width: 1.5rem;
  margin-left: -2px;
  margin-right: -2px;
  .full-star,
  .partial-star-container {
    z-index: 1;
    position:absolute;
    left: 0;
    overflow: hidden;
  }
}

ion-icon {
  font-size: 1.5rem;
}

ion-icon.full-star,
ion-icon.partial-star {
  pointer-events: none;
  color: #fdb825;
}

ion-icon.empty {
  color: #cecdcd;
}
