@import 'src/colors.scss';

.title {
  background-color: $review-color;
  display: flex;
  align-items: center;
  h1 {
    font-weight: bold;
  }
  // .icon {
  //   margin-left: 0;
  // }
}
.icon{
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  text-align: center;
}
mat-icon.icon {
  font-size: 2rem;
}

mat-action-row {
  justify-content: space-between;
}

.welcome-message {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content-container {
  margin: auto;
  margin-bottom: 3rem;
  max-width: 50rem;
}

.reviewable-loader {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -.25rem;
  width: 2rem;
  height: 2rem;
}

button.clear-input {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -.25rem;
}

.stars-wrapper {
  display: flex;
}
.star-container {
  position: relative;
  display: flex;
  width: 1.5rem;
  margin-left: -2px;
  margin-right: -2px;
  .full-star,
  .partial-star-container {
    z-index: 1;
    position:absolute;
    left: 0;
    overflow: hidden;
  }
}
.stars-wrapper {
  margin-bottom: 1rem;
}
.star-button {
  background-color: inherit;
  border: 0;
  padding: 0;
}

.stars-border {
  border: 2px solid #f44336;
  border-radius: 5px;
  padding: .5rem;
  width: 9rem;
}

mat-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

mat-icon.full-star {
  pointer-events: none;
  color: #fdb825;
  text-shadow:
    0px 3px 1px rgba(0, 0, 0, 0.2),
    0px 2px 2px rgba(0, 0, 0, 0.14),
    0px 1px 5px rgba(0, 0, 0, 0.12);
}

mat-panel-title {
  flex-grow: 0;
}

mat-panel-description {
  justify-content: center;
}

mat-form-field mat-label {
  font-size: 18px;
}
