<mat-toolbar class="page-info">
  <mat-toolbar-row class="breadcrumbs">
    <breadcrumbs *ngIf="breadcrumbs" [path]="breadcrumbs"></breadcrumbs>
  </mat-toolbar-row>
  <mat-toolbar-row class="title">
    <mat-icon class="icon">rate_review</mat-icon>
    <h1 >Add Review</h1>
  </mat-toolbar-row>
</mat-toolbar>

  <form (submit)="submit()" [formGroup]="form" #ngFormDirective="ngForm" [ngClass]="{'submit-attempt': submitAttempt}">

    <div class="content-container">
      <div class="welcome-message">
      <h2 *ngIf="!authService.isAuthenticated" >
          Welcome!
        </h2>
        <h3>Please follow the 3 easy steps below to review a Landlord or Property.</h3>
      </div>
      <mat-accordion>
        <mat-expansion-panel [expanded]="currentProgressState === 'AUTH'" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Step 1:
            </mat-panel-title>
            <mat-panel-description>
              {{
                authService.isAuthenticated ?
                'You are signed up!' :
                'Sign up'
              }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngIf="!authService.isAuthenticated">
            <h2>Signing up is easy!</h2> 
            <p>
              Enter your name and email in our secure accounts system. 
            </p>
            <p>Don't worry! Your information
              won't be displayed with your review.</p>
            <p>
              <log-in-or-sign-up [buttonColor]="'primary'"></log-in-or-sign-up>
            </p>
          </div>
          <div *ngIf="authService.isAuthenticated">
            <h2>Congratulations! </h2>
            <p>You have already signed up for an account and are ready to move onto the next steps.</p>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="currentProgressState !== 'AUTH'" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Step 2:
            </mat-panel-title>
            <mat-panel-description>
              {{
                reviewable?.name ?
                "You are reviewing: " + reviewable?.name :
                "Select what you're reviewing"
              }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <h2>What would you like to review?</h2>
          <mat-radio-group  aria-label="Select what to review" formControlName="reviewableType">
            <mat-radio-button value="landlord">Landlord</mat-radio-button>
            <mat-radio-button value="property">Property</mat-radio-button>
          </mat-radio-group>
          <br/>
          <h2 *ngIf="form.value.reviewableType == 'landlord'">Select the Landlord to review</h2>
          <h2 *ngIf="form.value.reviewableType == 'property'">Select the Property to review</h2>
  
          <div class="reviewable-info">
            <input type="hidden" formControlName="reviewableType">
            <input type="hidden" formControlName="reviewableId">
            <mat-form-field *ngIf="reviewableType && reviewableId" appearance="outline" floatLabel="always">
              <mat-label>Reviewing</mat-label>
              <input matInput [value]="reviewable?.name ? reviewable?.name : 'Loading...'" required disabled>
              <button type="button" mat-icon-button class="clear-input" (click)="clearReviewable()">
                <mat-icon title="Clear reviewable field" aria-label="Clear reviewable field">close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          
          <div *ngIf="!(reviewableId)">
            <mat-form-field *ngIf="form.value.reviewableType == 'landlord'" appearance="outline" floatLabel="always">
              <mat-label>Find Existing Landlord</mat-label>
              <input 
                type="text" 
                matInput 
                formControlName="reviewableLookup"
                [matAutocomplete]="lookupOptionsEl" 
                [required]="form?.get('reviewableId').errors?.required" 
                placeholder="Search for a Landlord by name, phone, or email.">
              <span matPrefix><mat-icon>search</mat-icon></span>
              <mat-error *ngIf="form?.get('reviewableId').errors?.required">You must select an item to review</mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="form.value.reviewableType == 'property'" appearance="outline" floatLabel="always">
              <mat-label>Find Existing Property</mat-label>
              <input 
                type="text" 
                matInput 
                formControlName="reviewableLookup"
                [matAutocomplete]="lookupOptionsEl" 
                [required]="form?.get('reviewableId').errors?.required" 
                placeholder="Search for a Property by name or address.">
              <span matPrefix><mat-icon>search</mat-icon></span>
              <mat-error *ngIf="form?.get('reviewableId').errors?.required">You must select an item to review</mat-error>
            </mat-form-field>
          </div>
  
          <mat-autocomplete #lookupOptionsEl="matAutocomplete" >
            <mat-optgroup label="Landlords" *ngIf="form.value.reviewableType == 'landlord'">
              <mat-option *ngIf="form.get('reviewableLookup').value == ''; else landlordResultsEl" value="" disabled>Start typing to begin search</mat-option>
              <ng-template #landlordResultsEl>
                <mat-option *ngIf="(landlordOptions | async)?.length == 0; else landlordOptionsEl" value="" disabled>No Landlord Results</mat-option>
                <ng-template #landlordOptionsEl>
                  <mat-option
                    *ngFor="let option of landlordOptions | async"
                    (onSelectionChange)="setSelection('landlord', option)"
                    [value]="form.get('reviewableLookup').value"
                  >
                    {{ option.name }}<span *ngIf="option.phone"> | {{ option.phone }}</span><span *ngIf="option.email"> | {{ option.email }}</span>
                  </mat-option>
                </ng-template>
              </ng-template>
            </mat-optgroup>
            <mat-optgroup label="Properties" *ngIf="form.value.reviewableType == 'property'">
              <mat-option *ngIf="form.get('reviewableLookup').value?.length == 0; else propertyResultsEl" value="" disabled>Start typing to begin search</mat-option>
              <ng-template #propertyResultsEl>
                <mat-option *ngIf="(propertyOptions | async)?.length == 0; else propertyOptionsEl" disabled>No Property Results</mat-option>
                <ng-template #propertyOptionsEl>
                  <mat-option
                    *ngFor="let option of propertyOptions | async"
                    (onSelectionChange)="setSelection('property', option)"
                    [value]="form.get('reviewableLookup').value"
                  >
                    {{ option.name }}<span *ngIf="option.name !== option.PostalAddresses[0].address"> | {{ option.PostalAddresses[0].address }}</span>
                  </mat-option>
                </ng-template>
              </ng-template>
            </mat-optgroup>
          </mat-autocomplete>
          <div *ngIf="!(reviewableType && reviewableId)">
            <div *ngIf="form.value.reviewableType === 'landlord'">
              <p>Can't find your Landlord?</p>
              <a routerLink="/landlords/add" [queryParams]="{intent: 'review'}" mat-raised-button color="accent">
                Add New Landlord
              </a>
            </div>
            <div *ngIf="form.value.reviewableType === 'property'">
              <p>Can't find your Property?</p>
              <a routerLink="/properties/add" [queryParams]="{intent: 'review'}" mat-raised-button color="accent">
                Add New Property
              </a>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="currentProgressState === 'REVIEW'" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Step 3:
            </mat-panel-title>
            <mat-panel-description>
              Enter your Review
            </mat-panel-description>
          </mat-expansion-panel-header>

          <h2>Rate {{reviewable?.name}}</h2>
          <div
            class="stars-wrapper" 
            title="Rating: {{ form.get('rating').value }} out of 5 stars" 
            id="star-validation"
            [ngClass]="{'stars-border' : ratingInvalid}" 
            aria-required="true" 
            aria-invalid>
            <div class="star-button-wrapper" *ngFor="let i of [1,2,3,4,5]">
              <button class="star-button" type="button" (click)="setRating(i)" attr.aria-label="Set Rating to {{i}} stars" >
                <mat-icon class="full-star" *ngIf="form.get('rating').value >= i">star</mat-icon>
                <mat-icon class="empty-star" *ngIf="form.get('rating').value < i">star_border</mat-icon>
              </button>
            </div>
          </div>                    
  
          <h2>Write your Review</h2>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Subject</mat-label>
            <input matInput formControlName="subject" required placeholder="What is most important to know?">
            <mat-error>
              Subject is a required field in order to add a review.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Please enter your review here</mat-label>
            <textarea matInput rows="5" formControlName="body" placeholder="Please write a brief and honest review. What might be useful for future tenants to know?"></textarea>
          </mat-form-field>
  
          <mat-action-row>
            <h3>Thank you! Your input helps us protect tenants and help the community.</h3>
            <div class="form-actions">
              <button mat-raised-button color="primary" type="submit">Submit</button>
            </div>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </form>
