<mat-toolbar class="page-info">
  <mat-toolbar-row class="breadcrumbs">
    <breadcrumbs *ngIf="breadcrumbs" [path]="breadcrumbs"></breadcrumbs>
  </mat-toolbar-row>
  <mat-toolbar-row class="title">
    <div class="name">
      <mat-icon class="icon" svgIcon="property_icon"></mat-icon>
      <h1 class="name ellipsis" *ngIf="address !== property.name">
        {{ property.name }}
      </h1>
      <h1 class="name ellipsis" *ngIf="address === property.name">
        {{ street }}
      </h1>    
    </div>
    <span class="edit"
    *ngIf="
      authenticationService.isSuperAdmin ||
      (authenticationService.isAuthenticated &&
      userAccount?.id == property?.AuthorId)
    ">
      <a routerLink="/property/{{ propertyId }}/edit" mat-icon-button aria-label="Edit Property" title="Edit Property">
        <mat-icon>edit</mat-icon>
      </a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="page-contents">
  <section class="details-container section">
    <sub-header 
      heading="Details" 
      matIcon="info" 
      colorType="property"
      showClaimOwner="true">
    </sub-header>

    <div class="details">

        <div class="icon-text-container" attr.aria-label="Rating: {{property?.metadata?.reviewAverage}} out of 5 stars: {{ (property?.metadata?.reviewCount || 0) + (property?.metadata?.externalReviewCount || 0) }} Reviews.">
          <div class="stars icon" aria-hidden="true">
            <stars-display [rating]="property?.metadata?.reviewAverage"></stars-display>
          </div>
          <div aria-hidden="true">
            <label class="label" title="{{(property?.metadata?.externalReviewCount || 0) }} External">
              {{ (property?.metadata?.reviewCount || 0) + (property?.metadata?.externalReviewCount || 0) }} Reviews
            </label>
          </div>
        </div>
        
        <div class="icon-text-container" attr.aria-label="Location: {{ street }}, {{ cityStateZip }}">
          <mat-icon class="icon">place</mat-icon>
          <div class="labeled-text-container" aria-hidden="true">
            <label class="label">Location:</label>
            <p class="address ellipsis labeled-text">
              {{ street }}
            </p>
            <p class="address ellipsis labeled-text">
              {{ cityStateZip }}
            </p>
          </div>
        </div>
        
        <div class="icon-text-container" attr.aria-label="Neighborhood: {{ location?.name }}">
          <mat-icon class="icon" svgIcon="neighborhood_icon"></mat-icon>
          <div class="labeled-text-container" aria-hidden="true">
            <label class="label">Neighborhood:</label>
            <p class="labeled-text">
              {{ location?.name }} 
            </p>
          </div>
        </div>
        
        <!-- <div *ngIf="landlord.name" class="icon-text-container landlord">
          <mat-icon class="icon" svgIcon="landlord_icon"></mat-icon>
          <div class="labeled-text-container">
            <label class="label">Landlord:</label>
            <p class="landlord-name ellipsis labeled-text" *ngIf="landlord">
              <a routerLink="/landlord/{{ landlord.machineName }}">
                {{ landlord.name }}
              </a>
            </p>
            <p class="landlord-name not-found labeled-text" *ngIf="!landlord">
              No Landlord Entry.
            </p>
          </div>
        </div> -->
        
        <div class="icon-text-container" attr.aria-label="{{bedrooms?.speech}}">
          <mat-icon class="icon" svgIcon="bed_icon"></mat-icon>          
          <div class="labeled-text-container" aria-hidden="true">
            <label class="label">Bedrooms:</label>
            <p class="labeled-text">{{bedrooms.text}}</p>
          </div>
        </div>
        
        <div class="icon-text-container" attr.aria-label="{{bathrooms?.speech}}">
          <mat-icon class="icon" svgIcon="bath_icon"></mat-icon>
          <div class="labeled-text-container" aria-hidden="true">
            <label class="label">Bathrooms:</label>
            <p class="labeled-text">{{bathrooms.text}}</p>
          </div>
        </div>

        <div *ngIf="property.website" class="icon-text-container">
          <mat-icon class="icon">language</mat-icon>
          <div class="labeled-text-container">
            <label class="label">Website:</label>
            <p class="labeled-text">
              <a [href]="property.website" target="_blank" rel="noopener noreferrer nofollow">{{ property.website }}</a>
            </p>
          </div>
        </div>
        
        <div *ngIf="property.contact" class="icon-text-container">
          <mat-icon class="icon">phone</mat-icon>
          <div class="labeled-text">
            <label class="label">Contact:</label>
            <p class="labeled-text">{{ property.contact }}</p>
          </div>
        </div>
        
        <div class="additional-details" *ngIf="property.body">
            <label class="label">Additional Details:</label>
            <p [innerHTML]="content.body(property.body)"></p>
        </div>

    </div> 
  </section>
  
  <section class="landlord-container section">
    <sub-header 
      heading="Landlord" 
      svgIcon="landlord_icon" 
      colorType="landlord">
    </sub-header>
  
    <div class="cards" *ngIf="landlord.name">
      <landlord-card [landlord]="landlord"></landlord-card>
    </div>
    <div class="no-landlord" *ngIf="!landlord.name">
      <p class="landlord-name not-found labeled-text" >
        No landlord entry for this property.
      </p>
      <!-- TODO: make this button link to add landlord page with property filled in -->
      <!-- <button mat-raised-button color="primary">Add Landlord</button> -->
    </div>
  </section>

  <section class="map-container section">
    <sub-header 
      heading="Location" 
      matIcon="place" 
      colorType="property">
    </sub-header>
    
    <div class="map">
      <map-box [coordinates]="[
      property?.GeoCoordinate?.longitude,
      property?.GeoCoordinate?.latitude
      ]"></map-box>
    </div>
  </section>
  
  <section class="reviews-container section">
    <sub-header 
      heading="Reviews ({{ property?.metadata?.reviewCount || 0 }})" 
      matIcon="rate_review" 
      colorType="review">
    </sub-header>

    <a *ngIf="authenticationService.isAuthenticated" routerLink="/reviews/add" [queryParams]="{reviewableType: 'property', reviewableId: propertyId}" class="action-button">
      <button mat-raised-button color="primary">Add a Review</button>
    </a>
    <a *ngIf="!authenticationService.isAuthenticated" (click)="authenticationService.login()" class="action-button">
      <button mat-raised-button color="primary">Login to Add a Review</button>
    </a>
    <div class="cards">
      <review-card *ngFor="let review of reviews" [review]="review"></review-card>
    </div>
  </section>

  <section class="external-reviews-container section">
    <sub-header 
    heading="External Reviews ({{ property?.metadata?.externalReviewCount || 0 }})" 
    matIcon="rate_review" 
    colorType="review">
  </sub-header>
  
    <a *ngIf="authenticationService.isSuperAdmin" routerLink="/external-review/add" [queryParams]="{reviewableType: 'property', reviewableId: propertyId}" class="action-button">
      <button mat-raised-button color="primary">Add an External Review</button>
    </a>

    <mat-card *ngFor="let externalReview of externalReviews" >
      <mat-card-title>
        {{ externalReview.name }}
      </mat-card-title>
      <mat-card-subtitle>
        Dated {{ externalReview?.date | date : 'mediumDate' }}
      </mat-card-subtitle>
      <mat-card-content class="clearfix">
        <a href="{{externalReview.url}}" target="_blank" rel="noopener noreferrer nofollow">
          {{ externalReview.url }}
        </a>
      </mat-card-content>
    </mat-card>
  </section>
</div>
  