@import 'src/colors.scss';

.page-info {
  .edit {
    margin-left: auto;
    margin-right: 1rem;
  }
}

.title {
  background-color: $property-color;
  .name {
    display: flex;
    align-items: center;
    h1 {
      font-weight: bold;
    }
    // .icon {
    //   margin-left: 0;
    // }
  }
}

mat-toolbar {
  margin-bottom: 0;
}

mat-icon.icon {
  font-size: 2rem;
}

.page-contents {
  display: flex;
  flex-flow: column;
  margin-right: -1rem;
  margin-left: -1rem;
}

.section {
  margin-bottom: 1rem;
}

.details-container {
  width: 100%;
  display: flex;
  flex-flow: column;

  .additional-details {
    padding: 1rem;
    padding-bottom: 0;
  }
}

.landlord-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.no-landlord {
  padding-top: 1rem;
  padding-left: 1rem;
}

.map-container {
  width: 100%;

  .map {
    margin: 1rem;
  }
}

.reviews-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}

.external-reviews-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}

.details {
  padding: 1rem;
  width: 100%;

  .stars {
    width: 5rem;
    margin-bottom: .25rem;
  }
}

.icon {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  text-align: center;
}

.icon-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
  padding: 0 1rem;
  landlord-card {
    margin-top: 1rem;
  }
  review-card{
    margin-top: 1rem;
  }
}

.labeled-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: .2rem;

  .labeled-text {
    font-size: 1rem;
    margin: 0;
  }
}

.label {
  font-weight: bold;
  font-size: .75rem;
  text-transform: uppercase;
  margin: 0;
}

.action-button {
  margin-top: 1rem;
  margin-left: 1rem;
  align-self: flex-start;
}

// Media Queries
@media screen and (min-width: 38.5rem) {


}