<mat-toolbar class="page-info">
  <mat-toolbar-row>
    {{ property?.name }}
  </mat-toolbar-row>
</mat-toolbar>

  <property-card [property]="property" [landlord]="landlord"></property-card>
  <a id="reviews"></a>
  <h2>
    Reviews ({{ property?.metadata?.reviewCount || 0 }})
    <a *ngIf="authenticationService.isAuthenticated" routerLink="/property/{{ propertyId }}/add-reviews">
      <button mat-raised-button color="primary">Add a Review</button>
    </a>
    <a *ngIf="!authenticationService.isAuthenticated" (click)="authenticationService.login()">
      <button mat-raised-button color="primary">Login to Add a Review</button>
    </a>
  </h2>
  <section class="reviews">
    <mat-card *ngFor="let review of reviews" >
      <mat-card-title>
        <stars-display [rating]="review.rating"></stars-display>
        {{ review?.subject }}
      </mat-card-title>
      <mat-card-subtitle>
        Created {{ review?.createdAt | date : 'medium' }}
      </mat-card-subtitle>
      <mat-card-content class="clearfix">
        <p>
          {{ review.body }}
        </p>
      </mat-card-content>
    </mat-card>
  </section>
  <a id="external-reviews"></a>
  <h2>
    External Reviews ({{ property?.metadata?.externalReviewCount || 0 }})
  </h2>
  <section class="external-reviews">
    <mat-card *ngFor="let externalReview of externalReviews" >
      <mat-card-title>
        {{ externalReview.name }}
      </mat-card-title>
      <mat-card-subtitle>
        Dated {{ externalReview?.date | date : 'mediumDate' }}
      </mat-card-subtitle>
      <mat-card-content class="clearfix">
        <a href="{{externalReview.url}}" target="_blank" rel="nofollow">
          {{ externalReview.url }}
        </a>
      </mat-card-content>
    </mat-card>
  </section>
