.property-cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-content: flex-start;
  property-card {
    width: 30rem;
    max-width: 100%;
  }
}

.page-info {
  .edit {
    margin-left: auto;
    margin-right: 1rem;
  }
}

.header-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  & > h2,
  & > a,
  & > div {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
