<mat-toolbar class="page-info">
  <mat-toolbar-row>
    {{ landlord?.name }}
    <span class="edit"
    *ngIf="authenticationService.isAuthenticated &&
      userAccount?.id == landlord?.AuthorId">
      <a routerLink="/landlord/{{ landlordId }}/edit" mat-icon-button aria-label="Edit Landlord" title="Edit Landlord">
        <mat-icon>edit</mat-icon>
      </a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

  <landlord-card [landlord]="landlord" [showTitle]="false"></landlord-card>

  <div *ngIf="landlord.body">
    <h3>Body</h3>
    <p [innerHTML]="content.body(landlord.body)"></p>
  </div>

  <a id="properties"></a>
  <div class="header-actions">
    <h2>
      Properties ({{ landlord?.metadata?.propertyCount || 0 }})
    </h2>
    <a routerLink="/properties/add">
      <button mat-raised-button color="primary">Add Property</button>
    </a>
    <div class="mini-pager-area">
      <mat-paginator class="condensed" [length]="properties.length"
        [pageSize]="propertiesPage.size"
        [pageIndex]="propertiesPage.offset"
        [pageSizeOptions]="[4,10,25,50,100]"
        (page)="pageUpdated($event)">
      </mat-paginator>
    </div>
  </div>
  <div class="property-cards" *ngIf="properties.length > 0">
    <property-card *ngFor="let property of properties | slice:(propertiesPage.offset * propertiesPage.size):((propertiesPage.offset+1)*propertiesPage.size)"
      [property]="property"
      [landlord]="landlord"
      [location]="locations[property.LocationId]"
    ></property-card>
  </div>
  <a id="reviews"></a>
  <h2>
    Reviews ({{ landlord?.metadata?.reviewCount || 0 }})
    <a *ngIf="authenticationService.isAuthenticated" routerLink="/reviews/add" [queryParams]="{reviewableType: 'landlord', reviewableId: landlordId}">
      <button mat-raised-button color="primary">Add a Review</button>
    </a>
    <a *ngIf="!authenticationService.isAuthenticated" (click)="authenticationService.login()">
      <button mat-raised-button color="primary">Login to Add a Review</button>
    </a>
  </h2>
  <section class="reviews" *ngIf="reviews.length > 0">
    <review-card *ngFor="let review of reviews" [review]="review"></review-card>
  </section>
  <a id="external-reviews"></a>
  <h2>
    External Reviews ({{ landlord?.metadata?.externalReviewCount || 0 }})
  </h2>
  <section class="external-reviews">
    <mat-card *ngFor="let externalReview of externalReviews" >
      <mat-card-title>
        {{ externalReview.name }}
      </mat-card-title>
      <mat-card-subtitle>
        Dated {{ externalReview?.date | date : 'mediumDate' }}
      </mat-card-subtitle>
      <mat-card-content class="clearfix">
        <a href="{{externalReview.url}}" target="_blank" rel="noopener noreferrer nofollow">
          {{ externalReview.url }}
        </a>
      </mat-card-content>
    </mat-card>
  </section>
