<mat-toolbar class="page-info">
  <mat-toolbar-row class="breadcrumbs">
    <breadcrumbs *ngIf="breadcrumbs" [path]="breadcrumbs"></breadcrumbs>
  </mat-toolbar-row>
  <mat-toolbar-row class="title">
    <div class="name">
      <mat-icon class="icon" svgIcon="landlord_icon"></mat-icon>
      <h1 >{{ landlord?.name }}</h1>
    </div>
    <span class="edit"
    *ngIf="
      authenticationService.isSuperAdmin ||
      (authenticationService.isAuthenticated &&
      userAccount?.id == landlord?.AuthorId)
    ">
      <a routerLink="/landlord/{{ landlordId }}/edit" mat-icon-button aria-label="Edit Landlord" title="Edit Landlord">
        <mat-icon>edit</mat-icon>
      </a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="page-contents">
  <section class="details-container section">
    <sub-header 
      heading="Details" 
      matIcon="info" 
      colorType="landlord"
      showClaimOwner="true">
    </sub-header>
    
    <div class="details">
      <!-- <div class="icon-text-container">
        <mat-icon class="icon" svgIcon="property_icon"></mat-icon>
        <a routerLink="/landlord/{{landlord.machineName}}" fragment="properties">
          <label class="label" >
            View All ({{ landlord?.metadata?.propertyCount || 0 }}) Properties
          </label>
        </a>
      </div> -->

        <div class="icon-text-container" attr.aria-label="Rating: {{landlord?.metadata?.reviewAverage}} out of 5 stars: {{ (landlord?.metadata?.reviewCount || 0) + (landlord?.metadata?.externalReviewCount || 0) }} Reviews.">
          <div class="stars icon" aria-hidden="true">
            <stars-display [rating]="landlord?.metadata?.reviewAverage"></stars-display>
          </div>
          <div aria-hidden="true">
            <label class="label" title="{{(landlord?.metadata?.externalReviewCount || 0) }} External" >
              {{ (landlord?.metadata?.reviewCount || 0) + (landlord?.metadata?.externalReviewCount || 0) }} Reviews
            </label>
          </div>
        </div>
        <div class="icon-text-container">
          <mat-icon class="icon">phone</mat-icon>
          <div class="labeled-text-container">
            <label class="label">Phone:</label>
            <p *ngIf="landlord?.phone" class="labeled-text">
              <a [href]="'tel:'+landlord.phone" target="_blank" rel="noopener noreferrer nofollow" *ngIf="landlord.phone">
                {{ landlord.phone }}
              </a>
              
            </p>
            <p  *ngIf="!landlord?.phone" class="not-provided labeled-text">
              No Phone Provided.
            </p>
          </div>
        </div>
        
        <div class="icon-text-container">
          <mat-icon class="icon">language</mat-icon>
          <div class="labeled-text-container">
            <label class="label">Website:</label>
            <p *ngIf="landlord?.website" class="labeled-text">
              <a [href]="landlord.website" target="_blank" rel="noopener noreferrer nofollow" *ngIf="landlord.website">
                {{ landlord.website }}
              </a>
            </p>
            <p  *ngIf="!landlord?.website" class="not-provided labeled-text">
              No Website Provided.
            </p>
          </div>
        </div>
    
        <div class="icon-text-container">
          <mat-icon class="icon">email</mat-icon>
          <div class="labeled-text-container">
            <label class="label">Email:</label>
            <p *ngIf="landlord?.email" class="labeled-text">
              <a [href]="'mailto:'+landlord.email" target="_blank" rel="noopener noreferrer nofollow" *ngIf="landlord.email">
                {{ landlord.email }}
              </a>
            </p>
            <p *ngIf="!landlord?.email" class="not-provided labeled-text">
              No Email Provided.
            </p>
          </div>
        </div>
        
        <div *ngIf="landlord.body" class="additional-details details-card">
          <label class="label">Additional Details:</label>
          <p [innerHTML]="content.body(landlord.body)"></p>
        </div>
    </div>
  </section>

  <section class="properties-container section">
    <sub-header 
      heading="Properties ({{ landlord?.metadata?.propertyCount || 0 }})" 
      svgIcon="property_icon" 
      colorType="property">
    </sub-header>
    
    <div class="header-actions">
      <div class="mini-pager-area">
        <mat-paginator class="condensed" [length]="properties.length"
        [pageSize]="propertiesPage.size"
        [pageIndex]="propertiesPage.offset"
        [pageSizeOptions]="[4,10,25,50,100]"
        (page)="pageUpdated($event)">
        </mat-paginator>
      </div>
    </div>

    <a class="action-button" routerLink="/properties/add" [queryParams]="{ landlord: landlord.machineName }">
      <button mat-raised-button color="primary" aria-label="Add Property">
        Add Property
      </button>
    </a>

    <div class="cards" *ngIf="properties.length > 0">
      <property-card *ngFor="let property of properties | slice:(propertiesPage.offset * propertiesPage.size):((propertiesPage.offset+1)*propertiesPage.size)"
      [property]="property"
      [landlord]="landlord"
      [location]="locations[property.LocationId]"
      ></property-card>
    </div>
  </section>

  <section class="reviews-container section">
    <sub-header 
      heading="Reviews ({{ landlord?.metadata?.reviewCount || 0 }})" 
      matIcon="rate_review" 
      colorType="review">
    </sub-header>

    <a *ngIf="authenticationService.isAuthenticated" routerLink="/reviews/add" [queryParams]="{reviewableType: 'landlord', reviewableId: landlordId}" class="action-button">
      <button mat-raised-button color="primary">Add a Review</button>
    </a>
    <a *ngIf="!authenticationService.isAuthenticated" (click)="authenticationService.login()" class="action-button">
      <button mat-raised-button color="primary" >Login to Add a Review</button>
    </a>

    <div class="cards" *ngIf="reviews.length > 0">
      <review-card *ngFor="let review of reviews" [review]="review"></review-card>
    </div>
  </section>

  <section class="external-reviews-container section">
    <sub-header 
      heading="External Reviews ({{ landlord?.metadata?.externalReviewCount || 0 }})" 
      matIcon="rate_review" 
      colorType="review">
    </sub-header>
    
    <a *ngIf="authenticationService.isSuperAdmin" routerLink="/external-review/add" [queryParams]="{reviewableType: 'landlord', reviewableId: landlordId}" class="action-button">
      <button mat-raised-button color="primary">Add an External Review</button>
    </a>
    <div class="cards">
      <mat-card *ngFor="let externalReview of externalReviews">
        <mat-card-title>
          {{ externalReview.name }}
        </mat-card-title>
        <mat-card-subtitle>
          Dated {{ externalReview?.date | date : 'mediumDate' }}
        </mat-card-subtitle>
        <mat-card-content class="clearfix">
          <a href="{{externalReview.url}}" target="_blank" rel="noopener noreferrer nofollow">
            {{ externalReview.url }}
          </a>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</div>
