<top-bar></top-bar>

<mat-toolbar class="page-info">
  <mat-toolbar-row>
    {{ landlord?.name }}
  </mat-toolbar-row>
</mat-toolbar>

<ion-content padding>
  <landlord-card [landlord]="landlord"></landlord-card>
  <a id="properties"></a>
  <h2>
    Properties ({{ landlord?.metadata?.propertyCount || 0 }})
    <a routerLink="/properties/add">
      <button mat-raised-button color="primary">Add Property</button>
    </a>
  </h2>
  <div class="property-cards" *ngIf="properties.length > 0">
    <property-card *ngFor="let property of properties" [property]="property" [landlord]="landlord"></property-card>
  </div>
  <a id="reviews"></a>
  <h2>
    Reviews ({{ landlord?.metadata?.reviewCount || 0 }})
    <a *ngIf="authenticationService.isAuthenticated" routerLink="/landlord/{{ landlordId }}/add-reviews">
      <button mat-raised-button color="primary">Add a Review</button>
    </a>
    <a *ngIf="!authenticationService.isAuthenticated" (click)="authenticationService.login()">
      <button mat-raised-button color="primary">Login to Add a Review</button>
    </a>
  </h2>
  <section class="reviews">
    <ion-card *ngFor="let review of reviews" >
      <ion-card-header>
        <ion-card-title>
          <stars-display [rating]="review.rating"></stars-display>
          {{ review?.subject }}
        </ion-card-title>
        <ion-card-subtitle>
          Created {{ review?.createdAt | date : 'medium' }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="clearfix">
        <p>
          {{ review.body }}
        </p>
      </ion-card-content>
    </ion-card>
  </section>
  <a id="external-reviews"></a>
  <h2>
    External Reviews ({{ landlord?.metadata?.externalReviewCount || 0 }})
  </h2>
  <section class="external-reviews">
    <ion-card *ngFor="let externalReview of externalReviews" >
      <ion-card-header>
        <ion-card-title>
          {{ externalReview.name }}
        </ion-card-title>
        <ion-card-subtitle>
          Dated {{ externalReview?.date | date : 'mediumDate' }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="clearfix">
        <a href="{{externalReview.url}}" target="_blank" rel="nofollow">
          {{ externalReview.url }}
        </a>
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>
