<a routerLink="/landlord/{{ landlord.machineName }}" class="card-wrapper">
  <mat-card itemscope itemtype="" >
    <mat-card-title class="title">
      <div class="name" attr.aria-label="{{ landlord?.name }}.">
        {{ landlord?.name }}
      </div>
      <div *ngIf="context && context.search.term" class="aliases" attr.aria-label="Also known as: {{ aliasString }}."><span><i>{{aliasString}}</i></span></div>
    </mat-card-title>

    <mat-card-content class="content-container">
      <section class="contact-container">
        <div class="contact">
          <span class="icon-text-container">
            <mat-icon>phone</mat-icon>
            <div class="labeled-text-container">
              <label class="label">Phone:</label>
              <p *ngIf="landlord.phone" class="ellipsis labeled-text" attr.aria-label="{{ landlord.phone }}.">{{ landlord.phone }}</p>
              <p *ngIf="!landlord.phone" class="not-provided labeled-text">No phone provided.</p>
            </div>
          </span>
        </div>
        
        <div class="contact">
          <span class="icon-text-container">
            <mat-icon>language</mat-icon>
            <div class="labeled-text-container">
              <label class="label">Website:</label>
              <p *ngIf="landlord.website" class="ellipsis labeled-text" attr.aria-label="{{ landlord.website }}.">{{ landlord.website }}</p>
              <p *ngIf="!landlord.website" class="not-provided labeled-text">No website provided.</p>
            </div>
          </span>
        </div>
    
        <div class="contact">
          <span  class="icon-text-container">
            <mat-icon>email</mat-icon>
            <div class="labeled-text-container">
              <label class="label">Email:</label>
              <p *ngIf="landlord.email" class="ellipsis labeled-text" attr.aria-label="{{ landlord.email }}.">{{ landlord.email }}</p>
              <p *ngIf="!landlord.email" class="not-provided labeled-text">No email provided.</p>
            </div>
          </span>
        </div>
      </section>
      
      <section class="units-review-container">
        <div class="reviews">
          <span class="stars">
            <stars-display [rating]="landlord?.metadata?.reviewAverage"></stars-display>
          </span>
          <label class="label" title="{{(landlord?.metadata?.externalReviewCount || 0) }} External" attr.aria-label="Number of reviews: {{ (landlord?.metadata?.reviewCount || 0) + (landlord?.metadata?.externalReviewCount || 0) }} Reviews.">
            {{ (landlord?.metadata?.reviewCount || 0) + (landlord?.metadata?.externalReviewCount || 0) }} Reviews
          </label>
        </div>

        <div class="units">
          <div class="unit-icon">
            <mat-icon class="icon" svgIcon="property_icon"></mat-icon>
            <p class="number" attr.aria-label="Number of Properties: {{ landlord?.metadata?.propertyCount || 0 }}">
              {{ landlord?.metadata?.propertyCount || 0 }}
            </p>
          </div>
          <p class="label">
            Properties
          </p>
        </div>
      </section>
    </mat-card-content>
  </mat-card>
</a>