@import '~@angular/material/theming';
@import 'src/colors.scss';

.card-wrapper {
  text-decoration: none;
  color: inherit;
}

mat-card {
  width: 18rem;
  padding: 0;

  margin: 0;
  background-color: $landlord-color;


  cursor: pointer;
    &:hover {
      @include mat-elevation(8);
    }

  mat-card-title {
    margin: 0;
    padding: .8rem;
  }
}
.title {
  border-bottom: 1px solid $border-color;
  margin-bottom: -1px;
}
.name {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  width: 16.5rem; // must be set for ellipsis
}

.aliases {
  font-size: 1rem;
  color: #666;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem 0;
}

.contact {
  display: flex;
  align-items: center;
  font-size: large;
  
  text-decoration: none;
  display: flex;
  align-items: center;
  
  mat-icon {
    margin-right: 1rem;
    font-size: 1.75rem;
  }
  
  .not-provided {
      color: #bfbfbf;
  }
}
.icon-text-container {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.labeled-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: .2rem;
  
  .labeled-text {
    font-size: 1rem;
    margin: 0;
    width: 13.5rem;
  }
}
.label {
  font-weight: bold;
  font-size: .75rem;
  text-transform: uppercase;
  margin: 0;
}

.units-review-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: $card-gray;
  border-top: 1px solid $border-color;
  margin-top: -1px;
}

.units {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-bottom-right-radius: 4px;

  border-left: 1px solid $border-color;
  margin-left: -1px;
}

.icon {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}

.unit-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  .icon {
    margin: .5rem;
  }
  .number {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 .5rem 0 0;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4rem;
  border-bottom-left-radius: 4px;
  // border-bottom-right-radius: 4px;
  width: 100%;
  .label {
    padding: 0 1rem;
  }
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Media Queries
@media screen and (min-width: 38.5rem) {
  mat-card {
    width: 30rem;
  }

  .name {
    font-size: 1.25rem;
    width: 28.5rem;
  }
  .aliases {
    font-size: 1rem;
  }

  .content-container {
    flex-direction: row-reverse;
  }

  .units-review-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid $border-color;
    margin-right: -1px;
  }

  .contact-container {
    width: 100%;
    border-bottom-right-radius: 4px;
  }

  .units {
    height: 100%;
    width: 8rem;
    border-left: none;
    margin-left: 0;
  }
  
  .reviews {
    height: 100%;
    width: 8rem;
    border-top: 1px solid $border-color;
    margin-top: -1px;
  }

  .labeled-text-container {
    .labeled-text {
      width: 18rem;
    }
  }
}