@import 'src/colors.scss';

.title {
  background-color: $landlord-color;
  display: flex;
  align-items: center;
  h1 {
    font-weight: bold;
  }
  // .icon {
  //   margin-left: 0;
  // }
}
.icon{
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  text-align: center;
}

.form-actions {
  margin-top: 2rem;
}

.sublabel {
  font-size: .65625rem;
  opacity: .7;
}
