<top-bar></top-bar>

<mat-toolbar class="page-info">
  <mat-toolbar-row>
    Add Landlord
  </mat-toolbar-row>
</mat-toolbar>

<ion-content padding>

  <form id="form" (submit)="submit()" [formGroup]="form" [ngClass]="{'submit-attempt': submitAttempt}">

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Landlord</mat-label>
      <input matInput formControlName="landlordQuickInfo" required>
      <mat-hint>
        You can use this field to quickly autofill the following fields: landlord name, phone number, email address.<br>
        Ex: Awesome Landlord 412-333-4444 landlord@example.com
      </mat-hint>
      <mat-error>
        Landlord is a required field.
      </mat-error>
    </mat-form-field>

    <!--
    <mat-checkbox formControlName="iAm">
      I am this landlord, or manage for them <br>
      <span class="sublabel">
        Only check this if you are this landlord or are authorized by them to manage the profile on their behalf.
      </span>
    </mat-checkbox>


    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>


    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" required>
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Website</mat-label>
      <input matInput formControlName="website" required>
    </mat-form-field>

    <mat-form-field appearance="standard" floatLabel="always">
      <mat-label>Bio</mat-label>
        <textarea matInput formControlName="body"></textarea>
    </mat-form-field>
    -->

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>

</ion-content>
