
<a routerLink="/property/{{ property.machineName }}" class="card-wrapper">
  <mat-card itemscope itemtype="http://schema.org/Hotel">
    <mat-card-title class="title">
      <div class="name ellipsis" *ngIf="address !== property.name" attr.aria-label="{{ property.name }}...">
        {{ property.name }}
      </div>
      <div class="name ellipsis" *ngIf="address === property.name" attr.aria-label="{{ street }}.">
        {{ street }}
      </div>
      <div class="address ellipsis" *ngIf="address !== property.name" attr.aria-label="{{ address }}.">
        {{ address }}
      </div>
      <div class="address ellipsis" *ngIf="address === property.name" attr.aria-label="{{ cityStateZip }}.">
        {{ cityStateZip }}
      </div>
    </mat-card-title>
    <mat-card-content class="content-container">
      <section class="info">
        <div class="icon-text-container neighborhood">
          <mat-icon class="icon" svgIcon="neighborhood_icon"></mat-icon>
          <div class="labeled-text-container" *ngIf="location?.name">
            <label class="label">Neighborhood:</label>
            <p *ngIf="location" class="labeled-text" attr.aria-label="{{ location?.name }}.">
              {{ location?.name }}
            </p>
            <p *ngIf="!location" class="labeled-text">
              No Neighborhood Entry.
            </p>
          </div>
        </div>
        <div class="icon-text-container landlord">
          <mat-icon class="icon" svgIcon="landlord_icon"></mat-icon>
          <div class="labeled-text-container" >
            <label class="label">Landlord:</label>
            <p class="landlord-name ellipsis labeled-text" *ngIf="landlord" attr.aria-label="{{ landlord.name }}.">
              {{ landlord.name }}
            </p>
            <p class="landlord-name not-found labeled-text" *ngIf="!landlord">
              No Landlord Entry.
            </p>
          </div>
        </div>
      </section>
      <section class="rooms">
        <div class="bed-bath-container">
          <div class="room-container" attr.aria-label="{{bedrooms?.speech}}">
            <div class="room-item" aria-hidden="true">
              <mat-icon class="icon" svgIcon="bed_icon"></mat-icon>
              <p class="labeled-text">{{bedrooms.text}}</p>
            </div>
            <label class="label" aria-hidden="true">Bedrooms</label>
          </div>
          <div class="room-container" attr.aria-label="{{bathrooms?.speech}}">
            <div class="room-item" aria-hidden="true">
              <mat-icon class="icon" svgIcon="bath_icon"></mat-icon>
              <p class="labeled-text">{{bathrooms.text}}</p>
            </div>
            <label class="label" aria-hidden="true">Bathrooms</label>
          </div>
        </div>

        <div class="reviews">
          <span class="stars">
            <stars-display [rating]="property?.metadata?.reviewAverage"></stars-display>
          </span>
          <label class="label" title="{{(property?.metadata?.externalReviewCount || 0) }} External" attr.aria-label="Number of reviews: {{ (property?.metadata?.reviewCount || 0) + (property?.metadata?.externalReviewCount || 0) }} Reviews.">
            {{ (property?.metadata?.reviewCount || 0) + (property?.metadata?.externalReviewCount || 0) }} Reviews
          </label>
        </div>

      </section>
    </mat-card-content>
  </mat-card>
</a>
