@import '~@angular/material/theming';
@import 'src/colors.scss';

.card-wrapper {
  text-decoration: none;
  color: inherit;
}

mat-card {
  width: 18rem;
  padding: 0;
  margin: 0;
  background-color: $property-color;

  cursor: pointer;
  &:hover {
    @include mat-elevation(8);
  }

  mat-card-title {
    margin: 0;
    padding: .8rem;  
  }
}
.title {
  border-bottom: 1px solid $border-color;
  margin-bottom: -1px;
}

.name {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  width: 16.5rem; // must be set for ellipsis
}
.address {
  font-size: .8rem;
  margin: 0;
  width: 16.5rem; // must be set for ellipsis
}

.content-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: flex-start;
}

.icon-text-container {
  display: flex;
  flex-direction: row;
  
}
  
.labeled-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: .2rem;
  
  .labeled-text {
    font-size: 1rem;
    margin: 0;
    width: 13.5rem;
  }
}
.label {
  font-weight: bold;
  font-size: .75rem;
  text-transform: uppercase;
  margin: 0;
}

.rooms {
  display: flex;
  flex-direction: column;
  background-color: $card-gray;
  border-top: 1px solid $border-color;
  margin-top: -1px;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.bed-bath-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid $border-color;
  margin-bottom: -1px;
  width: 100%;
  height: 4.5rem;
}

.room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .label {
    margin-top: -.5rem;
  }
}

.room-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  .icon {
    margin: .5rem;
  }
  .labeled-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 .5rem;
  }
}

.reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 100%;
  .label {
    padding: 0 1rem;
  }
}



.icon {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}

.not-found {
  color: gray;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Media Queries
@media screen and (min-width: 38.5rem) {
  mat-card {
    width: 30rem; 
  }

  .name {
    font-size: 1.25rem;
    width: 28.5rem; // must be set for ellipsis
  }
  .address {
    font-size: 1rem;
    width: 28.5rem; // must be set for ellipsis
  }

  .labeled-text-container {
    .labeled-text {
      font-size:1.2rem;
      width: 25rem;
    }
  }

  .rooms {
    flex-direction: row-reverse;
  }
  .bed-bath-container{
    border-left: 1px solid $border-color;
    margin-left: -1px;
    border-bottom: none;
    margin-bottom: 0;
    height: 4rem;
  }
  .reviews {
    flex-direction: column;
    height: 4rem;
  }
}
