<div class="sub-header" [ngStyle]="{'background-color': color}">
  <div class="heading-icon-container">
    <mat-icon class="icon" *ngIf="isMatIcon">{{matIcon}}</mat-icon>
    <mat-icon class="icon" *ngIf="!isMatIcon" svgIcon="{{svgIcon}}"></mat-icon>
    <h2>{{heading}}</h2>
  </div>

  <div>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">

        <button mat-menu-item (click)="GiveFeedback()">
          <mat-icon>feedback</mat-icon>
          Give Feedback
        </button>

      <button mat-menu-item (click)="ClaimContent()"
      *ngIf="showClaimOwner"><mat-icon>flag</mat-icon>Claim Content</button>
    </mat-menu>
  </div>
</div>