@import 'src/colors.scss';

:host {
  width: 100%;
}

mat-icon.icon {
  font-size: 2rem;
}

.icon {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  text-align: center;
}

.sub-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 4rem;
  border-top: solid $border-color .2rem;
  h2 {
    margin: 0;
  }
}

.heading-icon-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}