<ion-header>
  <ion-toolbar>
    <a slot="start" class="nav-icon" routerLink="/" title="Home">
      <ion-icon name="arrow-back"></ion-icon>
    </a>
    <ion-title>
      Landlords
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="actions">
    <a routerLink="/landlords/add">
      <ion-button color="primary">Add Landlord</ion-button>
    </a>
  </div>
  <div class="cards">
    <ion-card routerLink="/landlord/{{ landlord.id }}" title="Landlord" *ngFor="let landlord of landlords;">
      <ion-card-header>
        <ion-card-title>{{ landlord.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="clearfix">
        <div class="units-reviews-stamp clearfix">
          <div class="units clearfix">
            <span class="bedrooms">
              <span class="number">
                {{ landlord?.metadata?.propertyCount || 0 }}
              </span>
              <span class="label">
                Properties
              </span>
            </span>
            <!-- <span class="bedrooms-bathrooms-divider">/</span>
            <span class="bathrooms">
              <span class="number">
                X
              </span>
              <span class="label">
                Neighborhoods
              </span>
            </span> -->
          </div>
          <div class="units-reviews-divider"><hr></div>
          <div class="reviews clearfix">
            <!-- TODO: Get Reviews -->
            <span class="stars">
              55555
            </span>
            <span class="count">
              {{ (landlord?.metadata?.reviewCount || 0) + (landlord?.metadata.externalReviewCount || 0) }} Reviews
            </span>
          </div>
        </div>
        <div class="location-landlord-stamp">
          <div class="neighborhood">
            {{ landlord.phone }}<ng-container *ngIf="!landlord.phone">&nbsp;</ng-container>
          </div>
          <div class="address">
            {{ landlord.website }}<ng-container *ngIf="!landlord.website">&nbsp;</ng-container>
          </div>
          <div class="landlord">
            {{ landlord.email }}<ng-container *ngIf="!landlord.email">&nbsp;</ng-container>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
