.actions {
  margin-bottom: 1rem;
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-content: flex-start;
  landlord-card {
    width: 31rem;
  }
}
