<ion-header>
  <ion-toolbar>
    <ion-title>
      HousingDB Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  Welcome to HousingDB

  <h2>Looking for your next place to live?</h2>
  <p>Use our data before you make your next renting decision.</p>
  <ion-button color="primary" routerLink="/elsewhere">Login/Sign Up</ion-button>
  <p>
    <a routerLink="/properties">Browse Properties</a> Or
    <a routerLink="/landlords">Browse Landlords</a>
  </p>
  <p>
    <a routerLink="/properties/add">Add Property</a>
  </p>
</ion-content>
