  
  <section class="header">
    <div>
      <h4>Welcome to </h4>
      <h2>
        {{ env.siteName }}
      </h2>
      <span>Powered by <a href="https://housingdb.org" target="_blank">HousingDB</a></span>
    </div>
  </section>

  <section class="actions">
    <div class="card-container">
      <a routerLink="/properties" class="card-wrapper">
        <mat-card class="action-card">
          <img src="/assets/images/PropertyArt.svg" alt="">
          <div class="card-text">
            <h2 aria-label="Properties.">Properties</h2>
            <p>View our database of properties.</p>
          </div>
        </mat-card>
      </a>

      <a routerLink="/landlords" class="card-wrapper">
        <mat-card  class="action-card">
          <img src="/assets/images/LandlordArt.svg" alt="">
          <div class="card-text">
            <h2 aria-label="Landlords.">Landlords</h2>
            <p>View our database of landlords.</p>
          </div>
        </mat-card>
      </a>

      <a routerLink="/reviews/add" class="card-wrapper">
        <mat-card class="action-card">
          <img src="/assets/images/ReviewArt.svg" alt="">
          <div class="card-text">
            <h2 aria-label="Add Review.">Add Review</h2>
            <p>Rate a property or landlord.</p>
          </div>
        </mat-card>
      </a>
    </div>
    
  </section>


  <section *ngIf="!authService.isAuthenticated">
    <h2>Get More from {{ env.siteName}}</h2>
    <log-in-or-sign-up [buttonColor]="'primary'"></log-in-or-sign-up>
  </section>

  <section *ngIf="authService.isAuthenticated">
    <h2>Find your <abbr title="Landlords, Properties, Reviews, etc">stuff</abbr> here</h2>
    <button routerLink="/dashboard" mat-raised-button color="primary">Dashboard</button>
  </section>

