@import '~@angular/material/theming';

:host {
  text-align: center;
}

section {
  padding: .5rem;
  margin-bottom: 2rem;
}

section.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  
  div{
    display: inline-flex;
    flex-direction: column;
    
    span {
      font-size: .75rem;
      margin: 0;
      align-self: center;
    }
    h4 {
      font-size: 1.5rem;
      display: inline;
      margin: 0;
    }
    h2 {
      font-size: 2rem;
      line-height: 1.2;
      display: inline;
      margin: 0;
    }
  }
}

section.actions {
  h2.action-header {
    margin-bottom: 2rem;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}
.card-wrapper {
  text-decoration: none;
  color: inherit;
  margin-bottom: 1rem;
}

.action-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  padding: 1rem 0;
  width: 16rem;
  height: auto;
  margin-right: 0;
  margin-bottom: 0;
  
  &:hover {
    @include mat-elevation(8);
  }
  
  img {
    width: 5rem;
  }
  .card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h2{
      text-align: left;
      font-size: 1.5rem;
      margin: 0;
    }
    p {
      text-align: left;
      font-size: .75rem;
      max-width: 7rem; 
      font-style: italic;
    }
  }
}

.mat-raised-button {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

// Media Queries
// Larger Screens
@media screen and (min-width: 768px) {
  section.header {
    margin: 2rem 0;
    div{
      span {
        font-size: 1rem;
        align-self: flex-end;
      }
      h4 {
        font-size: 2rem;
      }
      h2 {
        font-size: 3.5rem;
      }
    }
  }

  section.actions {
    .card-container {
      flex-direction: row;
    }
  }
  .action-card {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 15rem;
    height: auto;
    margin-right: 1rem;

    img {
      width:10rem;
    }
    .card-text {
      align-items: center;
      h2{
        font-size: 1.5rem;
        margin: .25rem;
      }
      p {
        font-size: .8rem;
        max-width: none;
      }
    }
  }
}

@media screen and (max-width: 325px) {
  section.header {
    div{
      h3 {
        font-size: .75rem;
      }
      h4 {
        font-size: 1rem;
      }
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}