<ion-header>
  <ion-toolbar>
    <ion-title slot="secondary">
      HousingDB Home
    </ion-title>
    <div class="account-nav">
      <ion-button *ngIf="authService.isAuthenticated" color="light" (click)="accountManagement()">My Account</ion-button>
      <ion-button *ngIf="authService.isAuthenticated" color="light" (click)="doLogout()">Log out</ion-button>
      <ion-button *ngIf="!authService.isAuthenticated" color="primary" (click)="doLogin()">Log in/Sign up</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>

  <section>
    <p>Welcome to HousingDB</p>

    <h2>Looking for your next place to live?</h2>

    <p>Use our collection of data to make an informed decision before you sign your next lease.</p>

    <p>
      <a routerLink="/properties">
        <button mat-raised-button color="primary">Browse Properties</button>
      </a>
      <a routerLink="/landlords">
        <button mat-raised-button color="primary">Browse Landlords</button>
      </a>
    </p>
  </section>

  <section>
    <h2>HousingDB is The Pittsburgh Housing Database</h2>
    <p>
      GazePgh is building a catalog of Pittsburgh's rental properties and landlords, with ratings and reviews. We provide the ability to rate and review landlords and rental properties, as well as making it easy to find reviews on other sites.
    </p>
  </section>

  <section>
    <h2>Have something to share?</h2>

    <p>
      Let us know about a property, a landlord, or add your review to help build the community.
    </p>
    <div class="add-types">
      <div class="add-type">
        <h3>Properties</h3>
        <p>Help us inventory Pittsburgh's rental properties, and rate their quality.</p>
        <a routerLink="/properties/add">
          <button mat-raised-button color="primary">Add a Property</button>
        </a>
      </div>

      <div class="add-type">
        <h3>Landlords</h3>
        <p>Fill in the list of landlords that are renting properties in Pittsburgh.</p>
        <a routerLink="/landlords/add">
          <button mat-raised-button color="primary">Add a Landlord</button>
        </a>
      </div>

      <div class="add-type">
        <h3>Reviews</h3>
        <p>Leave ratings and reviews of properties and landlords.</p>
        <a routerLink="/reviews/add">
          <button mat-raised-button color="primary">Add a Review</button>
        </a>
      </div>
    </div>
  </section>

  <section>
    <h2>Get More from HousingDB</h2>
    <a routerLink="#">
      <button mat-raised-button color="primary">Sign Up Now</button>
    </a>
  </section>

</ion-content>
