@import 'src/colors.scss';

.title {
	background-color: $landlord-color;
	display: flex;
	align-items: center;
	h1 {
			font-weight: bold;
	}
	// .icon {
	//   margin-left: 0;
	// }

}

.icon {
	width: 2rem;
	height: 2rem;
	margin: 1rem;
	text-align: center;
}