@import 'src/colors.scss';
.title {
  background-color: $profile-color;
  display: flex;
  align-items: center;
  h1 {
    font-weight: bold;
  }
}
.icon{
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  text-align: center;
}
mat-icon.icon {
  font-size: 2rem;
}

.admin-cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-content: flex-start;
}
  
.admin-card{
  width: 100%;
  max-width: 30rem;
  background: $admin-color;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
}

.admin-controls{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 100%;
  button {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    div {
      margin-top: -1rem;
    }
  }
  button:last-of-type{
    margin-right: 1.5rem;
  }
}

.labeled-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: .2rem;
}

.label {
  font-weight: bold;
  font-size: .75rem;
  text-transform: uppercase;
  margin: 0;
}