<mat-toolbar class="page-info">
  <mat-toolbar-row class="breadcrumbs">
    <breadcrumbs *ngIf="breadcrumbs" [path]="breadcrumbs"></breadcrumbs>
  </mat-toolbar-row>
  <mat-toolbar-row class="title"> 
    <mat-icon class="icon">person</mat-icon>
    <h1>Profiles Admin</h1> 
  </mat-toolbar-row>
</mat-toolbar>

<!-- TODO: Add all content depending on userType -->
<div class="admin-cards" *ngIf="!loading">
  <div class="admin-card" *ngFor="let profile of profileList">
    <mat-card>
      <div class="labeled-text-container">
        <label class="label">ID: </label>
        <p class="labeled-text">{{profile.id}}</p>
      </div>
      <div class="labeled-text-container" *ngIf="profile.userData.hasOwnProperty('info')">
        <label class="label">User Type: </label>
        <p *ngIf="profile.userData.info.userType" class="labeled-text">{{profile.userData.info.userType}}</p>
        <p *ngIf="!profile.userData.info.userType" class="labeled-text">N/A</p>
      </div>
      <div *ngIf="profile.userData.hasOwnProperty('info') && profile.userData.info.userType === 'tenant'">
        <div class="labeled-text-container">
          <label class="label">Address:</label>
          <p class="labeled-text">{{profile.userData.info.address}}</p>
        </div>
        <div class="labeled-text-container">
          <label class="label">Landlord:</label>
          <p class="labeled-text">{{profile.userData.info.landlord}}</p>
        </div>
      </div>
      <div *ngIf="profile.userData.hasOwnProperty('info') && profile.userData.info.userType === 'other'">
        <div class="labeled-text-container">
          <label class="label">Other:</label>
          <p class="labeled-text">{{profile.userData.info.userTypeOther}}</p>
        </div>
      </div>
      <div class="labeled-text-container">
        <label class="label">Created:</label>
        <p class="labeled-text">{{profile.createdAt}}</p>
      </div>
      <div class="labeled-text-container">
        <label class="label">Updated:</label>
        <p class="labeled-text">{{profile.updatedAt}}</p>
      </div>
    </mat-card>
  </div>
</div>
