@import 'src/colors.scss';

.title {
  background-color: $property-color;
  display: flex;
  align-items: center;
  h1 {
    font-weight: bold;
  }
  // .icon {
  //   margin-left: 0;
  // }
}
.icon{
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  text-align: center;
}

.range {
  margin-bottom: 1.176rem;
  .range-items {
    display: flex;
    flex-direction: row;
  }
  .range-divider {
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
  }
  > .mat-form-field-subscript-wrapper {
    margin-top: -1.176rem;
    // margin-bottom: 1.176rem;
  }

}

.form-actions {
  margin-top: 2rem;
}

.sublabel {
  font-size: .65625rem;
  opacity: .7;
}
