@import 'src/colors.scss';

.title {
  background-color: $profile-color;
  display: flex;
  align-items: center;
  h1 {
    font-weight: bold;
  }
}
.icon{
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  text-align: center;
}
mat-icon.icon {
  font-size: 2rem;
}

.mock-form-field {
  padding-bottom: 1.34375em;
  .mat-form-field-label {
    position: relative;
    display: block;
    top: 0;
  }
}
