<mat-toolbar class="page-info">
  <mat-toolbar-row class="breadcrumbs">
    <breadcrumbs *ngIf="breadcrumbs" [path]="breadcrumbs"></breadcrumbs>
  </mat-toolbar-row>
  <mat-toolbar-row class="title">
    <mat-icon class="icon">rate_review</mat-icon>
    <h1>Add External Review</h1>
  </mat-toolbar-row>
</mat-toolbar>

<form (submit)="submit()" [formGroup]="form" #ngFormDirective="ngForm" [ngClass]="{'submit-attempt': submitAttempt}">

  <mat-form-field appearance="standard" floatLabel="always">
    <mat-label>URL</mat-label>
    <input type="text" matInput formControlName="url">
    <mat-hint>
      Enter the url of the External Review.
    </mat-hint>
  </mat-form-field>

  <mat-form-field appearance="standard" floatLabel="always">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-hint>Enter date of External Review</mat-hint>
  </mat-form-field>

  <div class="form-actions">
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </div>
</form>
