@import 'src/colors.scss';

.title {
  background-color: $review-color;
  display: flex;
  align-items: center;
  h1 {
    font-weight: bold;
  }
}
.icon{
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  text-align: center;
}
mat-icon.icon {
  font-size: 2rem;
}

.form-actions {
  margin-top: 2rem;
}
