.size-position {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.raccoon {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.text {
  text-align: center;
}
