<ion-header>
  <ion-toolbar>
    <a slot="start" class="nav-icon" routerLink="/" title="Home">
      <ion-icon name="arrow-back"></ion-icon>
    </a>
    <ion-title>
      Properties
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="actions">
    <a routerLink="/properties/add">
      <button mat-raised-button color="primary">Add Property</button>
    </a>
  </div>
  <div class="cards">
    <ion-card *ngFor="let property of properties;" itemscope itemtype="http://schema.org/Hotel">
      <ion-card-header>
        <ion-card-title>{{ property.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="clearfix">
        <div class="units-reviews-stamp clearfix">
          <div class="units clearfix">
            <!-- TODO: Get units -->
            <span class="bedrooms">
              <span class="number">
                <ng-container *ngIf="property.bedroomsMin != property.bedroomsMax ">
                {{ property.bedroomsMin }}-{{ property.bedroomsMax }}
                </ng-container>
                <ng-container *ngIf="property.bedroomsMin == null">
                  ?
                </ng-container>
                <ng-container *ngIf="property.bedroomsMin == property.bedroomsMax && property.bedroomsMin != null">
                  {{ property.bedroomsMin }}
                </ng-container>
              </span>
              <span class="label">
                Bedrooms
              </span>
            </span>
            <span class="bedrooms-bathrooms-divider">/</span>
            <span class="bathrooms">
              <span class="number">
                <ng-container *ngIf="property.bathroomsMin != property.bathroomsMax ">
                {{ property.bathroomsMin }}-{{ property.bathroomsMax }}
                </ng-container>
                <ng-container *ngIf="property.bathroomsMin == null">
                  ?
                </ng-container>
                <ng-container *ngIf="property.bathroomsMin == property.bathroomsMax && property.bathroomsMin != null">
                  {{ property.bathroomsMin }}
                </ng-container>
              </span>
              <span class="label">
                Bathrooms
              </span>
            </span>
          </div>
          <div class="units-reviews-divider"><hr></div>
          <div class="reviews clearfix">
            <span class="stars">
              55555
            </span>
            <span class="count">
              X Reviews
            </span>
          </div>
        </div>
        <div class="location-landlord-stamp">
          <div class="neighborhood">
            {{ extractNeighborhood(property) }}
          </div>
          <div class="address" [title]="extractAddress(property)">
            {{ extractAddress(property) }}
          </div>
          <div class="landlord">
            <span *ngIf="property.LandlordId; let id">
              <ng-container *ngIf="landlords[id]; else loading; let landlord">
                {{ landlord.name }}
              </ng-container>
              <ng-template #loading>
                Error Loading Landlord
              </ng-template>
            </span>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
