h1.example-app-name {
  margin-left: .5rem;
}

.actions {
  margin: .625rem;
}

.cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-content: flex-start;
  property-card {
    margin: .8rem;
    width: 31rem;
  }
}
