<h2>{{sourceLandlord.name}} will be merged with another Landlord</h2>
<form [formGroup]="form" #ngFormDirective="ngForm">
  <mat-form-field appearance="standard" floatLabel="always">
    <mat-label>Other Landlord</mat-label>
    <input matInput formControlName="destinationLandlordName" [matAutocomplete]="autoLandlord">
    <mat-autocomplete autoActiveFirstOption #autoLandlord="matAutocomplete">
      <mat-option *ngFor="let option of landlordAutocompletes | async" [value]="option.name">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
    <mat-hint>Select another landlord to merge {{sourceLandlord.name}} into.</mat-hint>
  </mat-form-field>
</form>

<p>
  <strong>Warning:</strong> You are about to transfer content from one landlord to another. Are you sure you want to
  proceed?
</p>

<div class="confirm-btn-container">
  <button mat-raised-button color="accent" class="confirm-btn" mat-dialog-close="false">
    Cancel
  </button>
  <button mat-raised-button color="primary" class="confirm-btn" (click)="mergeLandlords()" mat-dialog-close="true">
    Merge
  </button>
</div>