$property-color: #dbeee2;
$landlord-color: #def2fc;
$review-color: #fefadc;
$card-gray: #f1f1f1;
$border-color: #d0d0d0;
$admin-color: #fedcdc;
$profile-color: #fedcfd;

// Note: If making changes, also make change to sub-header component 
// Todo: find a better solution