@import '~@angular/material/theming';

// NOTE: Theming is currently experimental and not yet publically released!

@include mat-core();

$primary: mat-palette($mat-deep-purple);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

.app-dark {
  $dark-primary: mat-palette($mat-light-blue, 800);
  $dark-accent:  mat-palette($mat-yellow, 500);
  $dark-warn:    mat-palette($mat-red);
  // color: #f44336;

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent);

  @include angular-material-theme($dark-theme);

  fieldset {

    &:focus-within {
      border-style: solid;
      // border-bottom-color: mat-color($dark-primary);
    }
    &.ng-invalid.ng-dirty.ng-touched:not(:focus-within) {
      border-bottom-color: mat-color($dark-warn);
      legend {
        color: mat-color($dark-warn);
      }
    }
  }

  mat-toolbar.page-info {
    background-color: #424242;
  }

  app-home {
    section.header {
      background-color: mat-color($dark-primary);
    }
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(255, 255, 255, 0.7);
  }

}

html, body {
  height: 100%;
}

body {
  margin: 0;

  mat-form-field {
    width: 100%;
  }

  .mat-form-field-infix {
    width: auto;
  }

  .mat-form-field-underline {
    position: static;
  }

  .mat-form-field-subscript-wrapper {
    position: static;
  }

  .mat-snack-bar-container {
    max-width: 66vw;
  }
}

.mat-typography {
  line-height: 1.4;
}

mat-toolbar.page-info {
  mat-toolbar-row {
    min-height: 5rem;
  }
}

mat-card {
  line-height: 1.2;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.app-content {
  padding-left: 1rem;
  padding-right: 1rem;
  mat-toolbar {
    width: auto;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 2rem;
  }
}
