// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import '~@angular/material/theming';

// NOTE: Theming is currently experimental and not yet publically released!

@include mat-core();

$primary: mat-palette($mat-deep-purple);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

.app-dark {
  $dark-primary: mat-palette($mat-light-blue, 800);
  $dark-accent:  mat-palette($mat-yellow, 500);
  $dark-warn:    mat-palette($mat-red);
  // color: #f44336;

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent);

  @include angular-material-theme($dark-theme);

  fieldset {

    &:focus-within {
      border-style: solid;
      // border-bottom-color: mat-color($dark-primary);
    }
    &.ng-invalid.ng-dirty.ng-touched:not(:focus-within) {
      border-bottom-color: mat-color($dark-warn);
      legend {
        color: mat-color($dark-warn);
      }
    }
  }

  mat-toolbar.page-info {
    background-color: #424242;
  }

}

body {
  mat-form-field {
    width: 100%;
  }

  .mat-form-field-infix {
    width: auto;
  }

  .mat-form-field-underline {
    position: static;
  }

  .mat-form-field-subscript-wrapper {
    position: static;
  }

  .mat-snack-bar-container {
    max-width: 66vw;
  }

  mat-card-header.no-margin .mat-card-header-text {
    margin: 0;
  }
}

.app-dark {
  .mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(255, 255, 255, 0.7);
  }

}

mat-toolbar.page-info {
  mat-toolbar-row {
    min-height: 5rem;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
