// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';



.sc-ion-card-md-h {
  --color: var(--ion-text-color);
}

ion-card-title {
  --color: var(--ion-text-color);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

ion-label {
  .sublabel {
    color: var(--ion-color-medium);
  }
}

ion-item {
  .label-stacked.sc-ion-label-md-h {
    font-size: 1rem;
  }
  .description {
    text-align: left;
    color: var(--ion-color-medium);
    width: 100%;
  }
}

.toolbar-content {
  order: unset;
}

ion-toolbar {
  .nav-icon {
    color: var(--ion-text-color);
    font-size: 1.5em;
    line-height: 1;
    display: block;
    padding-left: .5rem;
    ion-icon {
      display: block;
    }
  }
}
