<mat-toolbar class="page-info">
  <mat-toolbar-row class="breadcrumbs">
    <breadcrumbs *ngIf="breadcrumbs" [path]="breadcrumbs"></breadcrumbs>
  </mat-toolbar-row>
  <mat-toolbar-row class="title">
    <mat-icon class="icon">security</mat-icon>
    <h1>Admin Dashboard</h1>
  </mat-toolbar-row>
</mat-toolbar>

<section class="admin-card-container">

  <a routerLink="/admin/landlords" class="card-wrapper">
    <mat-card class="admin-card">
      <div class="card-header landlords">
        <mat-icon class="icon" svgIcon="landlord_icon"></mat-icon>
        <h2>
          Landlords
        </h2>
      </div>
      <div class="content-container">
        <div class="admin-card-content landlords">
          <div *ngFor="let landlord of landlords" class="admin-card-data landlords">
            <div class="admin-card-row">
              <div class="text-overflow">{{landlord.name}}</div>  
            </div>
          </div>
        </div>
        <mat-card-footer class="admin-card-footer">
          <p>
            <em>Click to view all Landlords</em>
          </p>
        </mat-card-footer>
      </div>
    </mat-card>
  </a>

  <a routerLink="/admin/properties" class="card-wrapper">
    <mat-card class="admin-card">
      <div class="card-header properties">
        <mat-icon class="icon" svgIcon="property_icon"></mat-icon>
        <h2>
          Properties
        </h2>
      </div>
      <div class="content-container">
        <div class="admin-card-content properties">
          <div *ngFor="let property of properties" class="admin-card-data properties">
            <div class="admin-card-row">
              <div class="text-overflow">
                {{property.name}}
              </div>
            </div>
          </div>
        </div>
        <mat-card-footer class="admin-card-footer">
          <p>
            <em>Click to view all Properties</em>
          </p>
        </mat-card-footer>
      </div>
    </mat-card>
  </a>
  
  <a routerLink="/admin/reviews" class="card-wrapper">
    <mat-card class="admin-card">
      <div class="card-header reviews">
        <mat-icon class="icon">rate_review</mat-icon>
        <h2>
          Reviews
        </h2>
      </div>
      <div class="content-container">
        <div class="admin-card-content reviews">
          <div *ngFor="let review of reviews" class="admin-card-data reviews">
            <div class="admin-card-row reviews">
              <div  *ngIf="review.reviewableType == 'landlord'">
                <mat-icon class="reviewable-icon" svgIcon="landlord_icon"></mat-icon>
              </div>
              <div *ngIf="review.reviewableType == 'property'">
                <mat-icon class="reviewable-icon" svgIcon="property_icon"></mat-icon>
              </div>
              <div class="text-overflow">
                {{review.subject}}
              </div>
              <stars-display [rating]="review.rating"></stars-display>
            </div>
          </div>
        </div>
        <mat-card-footer class="admin-card-footer">
          <p>
            <em>Click to view all Reviews</em>
          </p>
        </mat-card-footer>
      </div>
    </mat-card>
  </a>

  <a routerLink="/admin/profiles" class="card-wrapper">
    <mat-card class="admin-card">
      <div class="card-header profiles">
        <mat-icon class="icon">person</mat-icon>
        <h2>
          Profiles
        </h2>
      </div>
      <div class="content-container">
        <div class="admin-card-content">
          <div  *ngFor="let profile of profiles" class="admin-card-data">
            <div class="admin-card-row profiles">
              <div aria-label="profile id segment" class="text-overflow">
                {{profile.id}}
              </div>
              <div class="timestamp">
                <mat-icon aria-label="created at icon">schedule</mat-icon>{{profile.createdAt.slice(0,10)}}
              </div>
            </div>
          </div>
        </div>
        <mat-card-footer class="admin-card-footer">
          <p>
            <em>Click to view all Profiles</em>
          </p>
        </mat-card-footer>
      </div>
    </mat-card>
  </a>
  
</section>

