@import '~@angular/material/theming';
@import 'src/colors.scss';

.title {
  background-color: $admin-color;
  display: flex;
  align-items: center;
  h1 {
    font-weight: bold;
  }
  // .icon {
  //   margin-left: 0;
  // }
}

.admin-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-wrapper {
  text-decoration: none;
  color: inherit;
  width: 100%;
  max-width: 26rem;
  margin-bottom: 1rem;
}

.mat-card {
  padding: 0;
  margin: 0;
}

.admin-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  &:hover {
    @include mat-elevation(8);
  }
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  h2 {
    margin: 0;
    margin-right: 2rem;
  }
}
.card-header.landlords {
  background: $landlord-color;
}
.card-header.properties {
  background: $property-color;
}
.card-header.reviews {
  background: $review-color;
}
.card-header.profiles {
  background: $profile-color;
}

.content-container {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-icon.icon {
  font-size: 2rem;
}
.icon {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  text-align: center;
}

.admin-card-header:first-of-type {
  margin-right: auto;
}

.admin-card-content{
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 4px;
}

.admin-card-data:nth-child(odd){
  background: none;
}


.admin-card-data.landlords:nth-child(even){
  background: $landlord-color;
}
.admin-card-data.properties:nth-child(even){
  background: $property-color;
}
.admin-card-data.reviews:nth-child(even){
  background: $review-color;
}
.admin-card-data.profiles:nth-child(even){
  background: $profile-color;
}

.admin-card-data:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.admin-card-row{
  display: flex;
  align-items: center;
  width: 100%;
  padding: .5rem;
  height: 2rem;
}
.admin-card-row.reviews {
  justify-content: flex-start;
}
.admin-card-row.profiles {
  justify-content: space-between;

  .timestamp {
    width: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  div {
    mat-icon {
      font-size: 1rem;

      height: fit-content;
      width: fit-content;
    }
  }

}

.text-overflow {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.admin-card-footer{
  color: gray;
  align-self: flex-end;
  margin-top: 1rem;
  margin-right: 0;
}

.reviewable-icon{
  width: 1rem;
  margin-right: 1rem;
}

stars-display {
  display: inline-block;
  height: 1.5rem;
  vertical-align: middle;
  padding-right: .5rem;
  margin-left: auto;
}

@media screen and (min-width: 38.5rem) {
  .card-wrapper {
    margin-right: 1rem;
  }
}