<ng-container *ngIf="rating; else noRating;">
  <div class="stars-wrapper" title="Rating: {{ rating }} out of 5 stars...">
    <span class="star-container" *ngFor="let i of [1,2,3,4,5]">
      <ng-container *ngIf="i - rating <= 0">
        <mat-icon class="full-star">star</mat-icon>
      </ng-container>
      <ng-container *ngIf="0 < i - rating && i - rating < 1">
        <span class="partial-star-container" [style.width]="((i - rating) * 100) + '%'">
          <mat-icon class="partial-star">star</mat-icon>
        </span>
      </ng-container>
      <mat-icon class="empty-star">star_border</mat-icon>
    </span>
  </div>
</ng-container>
<ng-template #noRating>
  <span class="stars-wrapper" title="Rating: No Rating...">
    <span class="star-container" *ngFor="let i of [1,2,3,4,5]">
      <mat-icon class="empty">star_border</mat-icon>
    </span>
  </span>
</ng-template>
