<h2>Enter The AuthorId for {{ownable.name}}</h2>
<form [formGroup]="form" #ngFormDirective="ngForm">
  <mat-form-field appearance="standard" floatLabel="always">
    <mat-label>AuthorId</mat-label>
    <input matInput formControlName="AuthorId">
  </mat-form-field>
</form>

<div class="confirm-btn-container">
  <button mat-raised-button color="accent" class="confirm-btn" mat-dialog-close="false">
    Cancel
  </button>
  <button mat-raised-button color="warn" class="confirm-btn" (click)="removeOwner()"mat-dialog-close="true">
    Remove Ownership
  </button>
  <button mat-raised-button color="primary" class="confirm-btn" (click)="setOwner()" mat-dialog-close="true">
    Set Owner
  </button>
</div>